---
import Layout from '../layouts/Layout.astro'
import Gallery from '@/components/Gallery.astro'
---

<Layout title="Nicolas" current="home">
  <h1>Hi, I'm Nicolas.</h1>
  <p>
    I'm a developer who likes to create useful and aesthetically pleasing
    things. Currently, I'm following my path to become an indie hacker.
  </p>
  <Gallery />
  <p>
    My goal for the future is to become financially free by doing the thing I
    love the most: coding.
  </p>
  <p>
    I am a very friendly person, always looking to learn new things. When I
    create a new project, I like to make something minimalist and useful as
    well, always keeping the final user in mind.
  </p>
</Layout>
