---
interface Props {
  current: string
}

const { current } = Astro.props

function addHighlight(page: string) {
  return current === page ? 'highlight' : ''
}
---

<header class="header">
  <nav>
    <ul>
      <li>
        <a href="/" class={addHighlight('home')}>home</a>
      </li>
      <li>
        <a href="/projects" class={addHighlight('projects')}>projects</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .header {
    padding-block: 32px;

    ul {
      display: flex;
      gap: 16px;
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 24px;
      justify-content: left;
      align-items: center;

      li {
        a {
          &:hover {
            color: white;
          }
          &.highlight {
            color: white;
          }
          transition: color;
          transition-duration: 0.2s;
          color: rgb(160, 160, 160);
          text-decoration: none;
          font-size: 18px;
        }
      }
    }
  }
</style>
