---
import Layout from '@/layouts/Layout.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import { GET } from '../api/repositories.json'

// const response = await GET(Astro)
// const data = await response.json() TODO: Utilizar esto cuando haya arreglado bien todos mis repositorios public en github

const data: Repo[] = [
  {
    name: 'Jokes generator',
    description:
      'Jokes generator is a simple application that generates jokes from an API.',
    url: 'https://github.com/nicothomas1201/joke-generator-hackathon',
    stars: 0,
  },
  {
    name: 'salcker-project',
    description: 'Slacker is a Slack clone made in Next.js',
    url: 'https://github.com/nicothomas1201/salcker-project',
    stars: 0,
  },
  {
    name: 'weather-app',
    description:
      'Wheater app is a weather application, which changes its background according to the weather and the time, if it is night or day, the app is only mobile.',
    url: 'https://github.com/nicothomas1201/weather-app',
    stars: 0,
  },
  {
    name: 'Spotify clone',
    description:
      'Spotify clone is a clone of the Spotify web application, made with React.js and TailwindCSS and Astro.',
    url: 'https://github.com/nicothomas1201/spotify-clone',
    stars: 0,
  },
]
---

<Layout title="projects" current="projects">
  <p>Here is a list of some of the projects I have worked on.</p>
  <nav>
    <ul class="list">
      {
        data.map((repo: any) => (
          <ProjectCard
            url={repo.url}
            name={repo.name}
            description={repo.description}
            stars={repo.stars}
          />
        ))
      }
    </ul>
  </nav>
</Layout>

<style>
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
