---
import Header from '@/components/Header.astro'

interface Props {
  title: string
  current: 'home' | 'projects'
}

const { title, current } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="wrapper">
      <Header current={current} />
      <main class="main">
        <slot />
      </main>
    </div>
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html,
      body {
        font-family: 'Geist', system-ui, sans-serif;
        background: #13151a;
        color: white;
        scrollbar-color: #13151a #3f3f3fbd;
      }

      @font-face {
        font-family: 'Geist';
        src: url('/fonts/Geist-Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Geist';
        src: url('/fonts/Geist-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      #wrapper {
        margin: auto;
        padding-inline: 1rem;
        width: 750px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
        margin-block-end: 64px;
      }
      h1,
      h2 {
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        margin-block-end: 16px;
      }

      p {
        font-size: 16px;
        color: #b3b3b3;
      }

      .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
      }
    </style>
  </body>
</html>
